<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/styles.css" />
    <title>Tech blog</title>
  </head>
  <body>
    <%- include("./partials/header.ejs") %>
    <section class="dashboard-container">
      <h1>welcome to your dashboard</h1>
      <div class="top-row">
            <a href="/create-new" class="create-btn"> Create <span>+</span> </a>
            <form action="/blog/author/<%=authorId%>" method="get">
                <select name="state" id="">
                    <option value="draft">Draft</option>
                    <option value="published">Published</option>
                    <option value="">All</option>

                </select>

                <input type="submit" value="search" >
            </form>
      </div>
      <%if(!blog){%>
        <h3>You have not drafted or published any article so far</h3>
      <% }else{%>
      <div class="authors-article-wrapper">

        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>State</th>
              <th>Created At</th> 
              <th>Actions</th> 
            </tr>
          </thead>
          <tbody>
          <%blog["docs"].forEach((article)=>{%>   
            <tr>
                <td><%=article.title%></td>
                <td> <%=article.description.substring(0, 150) %>...</td>
                <td><%=article.state.toUpperCase()%> </td>
                <td><%= new Date(article.created_at).toLocaleDateString() %></td>
                <td class="actions">
                    <a href="/blog/<%=article._id%>/edit-article/" class="update-btn">Edit</a> 

                    <form method="POST" action="/blog/<%=article._id%>/delete?_method=DELETE" >
                        <button type="submit" class="delete-btn">Delete article</button>
                    </form>
                    <a href="/blog/<%=article._id%>" style="text-decoration: none;"><img src="/assets/show.png" alt="view" width="30px"></a>
                </td>
            </tr>
          <% }); %>
          </tbody>
        </table>

      </div>
    <%}%>
    </section>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
