<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/styles.css">

    <title>blog</title>
</head>
<body>
    <%- include("./partials/header.ejs") %>
        <main class="container">
        <%if(blog){%>
            <div class="author_details">
                <p>Author: <%=blog.user_id.first_name + " " + blog.user_id.last_name%></p>
                <small>
                    <%=blog.read_time%>mins read
                </small>
            </div>

            <h1><%=blog.title%></h1>
            <p><%=blog.description%></p>
            <p><%=blog.body%></p>

        <%}else{%>
            <h3>404? page not found</h3>
        <%}%>
        </main>
    <%- include("./partials/footer.ejs") %>
</body>
</html>